/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: rgb(12, 12, 12);
    color: #fff;
}
/* cabeçalho */
.navbar{
    width: 100%;
    padding: 20px 40px;
    background-color: #131313;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between ;
    align-items: center ;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
/* links do lado esquerdo */
.nav-esq{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-esq nav a{
    color: #fff;
    text-decoration: none;
    margin: 15px ;
    transition: .2s ;

}
.nav-esq nav a:hover{
    color: #ac2d2d;
}
/* link do lado direito */
.nav-dir .login-btn{
    padding: 8px 20px;
    background-color: #fff;
    color: #000000;
    font-weight: bolder;
    border-radius: 6px;
    text-decoration: none;
    transition: .2s;
}
.nav-dir .login-btn:hover{
    color: #d42d2d;
}
/* Fim do cabeçalho */

/* Sessão completa de jogos */
.section-game{
    padding: 40px 0;
    text-align: center;
}
.title-section{
    font-size: 26px;
    margin-bottom: 30px;
}
/* Grade de jogos */
.grade-game{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.grade-game a{
    color: #fff;
    text-decoration: none;
}
/* CARD DOS JOGOS */
.card-game{
    background-color: #292828;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 0 10px #2c2b2b;
}

.card-game:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(146, 146, 146);
}
.card-game img{
    width: 100%;
    height:250px;
    object-fit: fill ;
}
.tag{
    display: block;
    font-size: 12px;
    opacity: .7;
    margin: 8px;
}
.card-game h3{
    font-size: 15px;
    margin: 0 8px 12px;
}




